<app-navigationbar></app-navigationbar>

<div class="container mt-5">

<div class="row">
<div class="col-md-4 mb-1">

    <a [routerLink]= "['/Admin/AddFoodcategory']" class="btn btn-block btn-primary"> <i class='fa fa-cart-plus'></i>  Add New Item To Food Category </a>
</div>

<div class="col-md-5">

</div>

<div class="col-md-3 mb-1">
   

    <a [routerLink]= "['/Admin/CreateMarket']" class="btn btn-block btn-success"> <i class='fa fa-cart-plus'></i>   Create New Market </a>
</div>
    
</div>


<div class="row mt-3">

    <table class="table table-hover table-bordered table-responsive table-stripred">
        <thead style="color: #ffffff; background-color:chocolate;">
        
      
            <th >    IMAGE 1</th>
            <th >    IMAGE 2</th>
            <th >    IMAGE 3</th>
            <th >MARKET NAME</th>
            <th > FOOD CATEGORY</th>
            <th >DESCRIPTION</th>
            <th> LOCATION</th>
            <th >  ADMIN ACTION </th>
         
        </thead>
        <tbody>
          <tr *ngFor=" let Market of Markets ">
          
            <td> <img src="https://localhost:44330/{{Market.Image1}} " width="100px" height="50px" class="img-responsive img-rounded"></td>
            <td> <img src="https://localhost:44330/{{Market.Image2}} "  width="100px" height="50px" class="img-responsive img-rounded"></td>
            <td> <img src="https://localhost:44330/{{Market.Image3}} "  width="100px" height="50px" class="img-responsive img-rounded"></td>
            <td>{{Market.Name}}</td>
            <td>{{Market.Catergory}}</td>
            <td>{{Market.Discription}}</td>
            <td>{{Market.Location}}</td>
            <td>
              <a [routerLink]= "['/Admin/ViewMarket/',Market.MarketId]" class="btn-sm mr-1 btn-success"> <i class='fa fa-search-plus'></i></a>
              <a [routerLink]= "['/Admin/EditMarket/',Market.MarketId]" class="btn-sm mr-1 mb-1 btn-primary"> <i class='fa fa-edit'></i> </a>
  <a>           <button (click)="Delete(Market.MarketId)" class=" btn  btn-danger btn-sm"> <i class='fa fa-trash' ></i></button></a> 
           
            
            
            </td>
          </tr>
         
        </tbody>
      </table>
</div>


</div>

<app-footer></app-footer>
