<app-navigationbar></app-navigationbar>




<div class="container mt-5">
   
    <div  class="row">

    
        <a [routerLink]= "['/Admin/CreateMarket']" class="btn btn-block btn-success"> <i class='fa fa-cart-plus'></i>   Create New Market </a>
    <div class="col-md-6 ">

        <h3 class="text-primary"> Update Your Market </h3>
    <div class="card bg-light">


        <div class="card-body">

<span *ngIf="Success" class="alert alert-success"> Your Market Infomations Have beeb Updated Successfully </span>
<form [formGroup]="FormData" (ngSubmit)= "ProcessForm()">

    <div class="form-group mt-3">

        <label> market Name</label>

        <input type="text" class="form-control" formControlName="MarketName" placeholder=" Enter Maerket Name">
        <div *ngIf="Submitted && f.MarketName.errors" class="alert-sm alert-danger">
            <h6 *ngIf=" f.MarketName.errors.required"> Market Name Is Required  </h6>
            
            </div>
    </div>


    <div class="form-group">

        <label> market Discription </label>

        <textarea formControlName="Discription" class="form-control" placeholder="Descibe Your Market ">



        </textarea>
     
        <div *ngIf="Submitted && f.Discription.errors" class="alert-sm alert-danger">
            <h6 *ngIf=" f.Discription.errors.required"> Market Discription Is Required  </h6>
            </div>
    </div>
    <div class="form-group">

        <label> Food Category</label>  <span class="text-primary"></span>

        <select class="form-control" formControlName="Category">   
            <option selected>{{Markets[0].Category}}</option>
            <option selected>Search by category...</option>
            <option value="Babay Food">Babay Food</option>
            <option value="Vegetables">Vegetables</option>
            <option value="Oils">Oils</option>
            <option value="Salads">Salads</option>
            <option value=" Pasteries"> Pasteries</option>
            <option value="Meats">Meats </option>
            <option value="Breads">Breads</option>
            <option value="Bush Meat">Bush Meat</option>

        </select>

        <div *ngIf="Submitted && f.Category.errors" class="alert-sm alert-danger">
            <h6 *ngIf=" f.Category.errors.required"> Market Catergory Is Required  </h6>
            </div>
    </div>



    <div class="form-group">

        <label> Location</label>

        <input type="text" class="form-control" formControlName="Location" placeholder=" Enter Maerket Location">
        <div *ngIf="Submitted && f.Location.errors" class="alert-sm alert-danger">
            <h6 *ngIf=" f.Location.errors.required"> Market Location Is Required  </h6>
            </div>
    </div>




    <div class="form-group">

        <input class="btn btn-block btn-success" type="submit" value=" Update market">
        
    </div>

</form>

        </div>



    </div>
    
     </div>
    <div class="col-md-3">
<hr>

<label> First Picture Uploaded</label><br>
<img src="{{Markets[0].Image1}}" class="img-respnsive" width="100%" height="100px" >  
        <hr><p></p> 
        <label> Second Picture Uploaded</label><br>
        <img src="{{Markets[0].Image2}}" class="img-respnsive" width="100%" height="100px" >
        <hr><p></p>
        <label> Third  pictue Uploaded</label><br>
        <img src="{{Markets[0].Image3}}" class="img-respnsive" width="100%" height="100px" >
        <hr>
    </div>

  </div>

</div>
<app-footer></app-footer>
