<form [formGroup]="FormData"  (ngSubmit)="ProcessForm()">

<div class="input-group mb-1">
 
      <select class="custom-select " id="inputGroupSelect04" formControlName ="Name"> 
    
        <option value="Babay Food">Babay Food</option>
        <option value="Vegetables">Vegetables</option>
        <option value="Oils">Oils</option>
        <option value="Salads">Salads</option>
        <option value=" Pasteries"> Pasteries</option>
        <option value="Meats">Meats </option>
        <option value="Breads">Breads</option>
        <option value="Bush Meat">Bush Meat</option>
        <option value="Farm Product"> Farm Product</option>
      </select>
   
      <div class="input-group-append">
        <button class="btn btn-success" type="submit">Search by Food Category</button>
      </div>
    </div>
</form>