<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">

        <div class="carousel-caption" style=" background-color: #000000; opacity: 0.8;">
          <h1>ACCESS TO FRESH FOOD MADE EASY.</h1><p></p>

           <h3>With Market Hub You Dont Have to leave your home to get fresh food. </h3>
          <p><a class="btn btn-lg btn-primary"  role="button">Learn more</a></p>
        </div>
      </div>
      <div id="target" class="carousel-item">

        <div class="carousel-caption"  style=" background-color: #000000; opacity: 0.8;">
          <h1>Every Nigerian Choice.</h1>
          <p>Don't be Left Out Create Account today to see the nearest market near you.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>


      <div class="carousel-item">

        <div class="carousel-caption"  style=" background-color: #000000; opacity: 0.8;">
          <h1>HOME DELEVERY.</h1>
          <p>Get Fresh Food delever to your home in less than an Hour.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>