<app-navigationbar></app-navigationbar>
<div class=" row container  mt-5">

    <div class="col-md-4">

        <a [routerLink]= "['/Admin/CreateMarket']" class="btn btn-block btn-success"> <i class='fa fa-cart-plus'></i>   Create New Market </a>

    </div>

    <div class="col-md-4">

        
        <a [routerLink]= "['/Admin/EditMarket/',Markets[0].MarketId]" class="btn btn-block btn-primary"> <i class='fa fa-cart-plus'></i>   Edit   Curent Market Record  </a>
    </div>

    <div class="col-md-4">

        
        <a [routerLink]= "['/Admin/Home']" class="btn btn-block btn-warning" style="color: #ffffff;"> <i class='fa fa-cart-plus'></i>   View All Market Records </a>
    </div>
</div>
<div class="container mt-5">


    <table class="table   table-striped table-hover ">

<tr>
<th> MARKET NAME </th> <td>    {{Markets[0].Name}}</td>

</tr>



<tr>
    <th> MARKET DISCRIPTION </th> <td>    {{Markets[0].Discription}}</td>
    
    </tr>


    <tr>
        <th> FOOD CATEGORY</th> <td>    {{Markets[0].Category}}</td>
        
        </tr>

        <tr>
            <th> MARKET LOCATION </th> <td>    {{Markets[0].Location}}</td>
            
            </tr>

        <tr>
            <th> MARKET IMAGE 1</th> <td>  <img src="{{Markets[0].Image1}}" class="img-respnsive" width="100px" height="100px" >    </td>
            
            </tr>


            
        <tr>
            <th> MARKET IMAGE 2</th> <td>    <img src="{{Markets[0].Image2}}" class="img-respnsive" width="100px" height="100px" >  </td>
            
            </tr>

            
        <tr>
            <th> MARKET IMAGE 3</th> <td>    <img src="{{Markets[0].Image3}}" class="img-respnsive" width="100px" height="100px" >  </td>
            
            </tr>
    </table>
</div>


<app-footer></app-footer>