
<app-header></app-header>




<div class="container mt-5">
   
    <div class="row">

    

    <div class="col-md-6 mt-2 mb-2 ">

        <h3 class="text-primary"> Tell Us How We Can Improve Our Services </h3>
    <div class="card bg-light">


        <div class="card-body">


<form [formGroup]>

    <div class="form-group">

        <label> Your Name</label>

        <input type="text" class="form-control" controlName="" placeholder=" Enter Maerket Name">
    </div>




    <div class="form-group">

        <label> Your Email</label>

        <input type="email" class="form-control" controlName="" placeholder=" Enter Email">
    </div>


    <div class="form-group">

        <label> Phone Number</label>

        <input type="phone" class="form-control" controlName="" placeholder=" Enter Phone">
    </div>
    <div class="form-group">

        <label> Discription </label>

        <textarea contolName="" class="form-control" placeholder="Descibe Your Market ">



        </textarea>
    </div>
  


   





    <div class="form-group">

        <input class="btn btn-block btn-success" type="submit" value=" Send Feed Back">
        
    </div>

</form>

        </div>



    </div>
    
    </div>
    <div class="col-md-3"></div>

  </div>

</div>
<app-footer></app-footer>
